* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.fs-ssm{
    font-size: 0.75rem; !important;
}

.fs-sm{
    font-size: 0.875rem; !important;
}

.fs-nor{
    font-size: 1rem; !important;
}

.fs-md{
    font-size: 1.125rem; !important;
}

.fs-l{
    font-size: 1.25rem; !important;
}

.fs-xl{
    font-size: 1.375rem; !important;
}

.fs-xxl{
    font-size: 1.5rem; !important;
}

body {
    background: url("../img/bg.png");
}

header {
    background: #fff;
    width: 100%;
    height: 3.75rem;
    box-shadow: 0 1px 1px #ccc;
}

header nav .logo {
    font-size: 1.5rem;
    line-height: 3.75rem;
    color: #444;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    line-height: 3.75rem;
    text-align: center;
    cursor: pointer;
}

header nav ul li:hover {
    background: #3690cf;
    color: #fff;
}

.slideUp {
    transform: translateY(-100px);
    transition: transform .5s ease-out;
}

.slideDown {
    transform: translateY(0);
    transition: transform .5s ease-out;
}

.li-active {
    background: #3690cf;
    color: #fff;
}

main .right .money {
    border: 0.0625rem solid #ddd;
}

main .right .title {
    background: #f8f8f8;
    line-height: 1.875rem;
    color: #333;
    border-bottom: 1px solid #ddd;
}

main .right .panes span{
    cursor: pointer;
    font-weight: bold;
}

main .right .panes span:last-child{
    border-left: 2px solid #000000;
}

main .right .panes .span-active{
    color: #3690cf;
}

main .right .panes .articles{

}

main .right .panes .articles li{
    list-style: none;
    margin: 0 0 1rem 2rem;
}

main .right .panes .articles li a{
    text-decoration: none;
    color: #444;
}

main .right .panes .articles li a:hover{
    color: #000;
}