main {
    margin-top: 1rem;
}

main .left .news-box ul {
    padding: 0;
    margin: 0;
}

main .left .news-box ul li {
    list-style: none;
    display: inline-block;
    background: #fff;
    color: #797b7c;
    border: 1px solid #ddd;
    margin-bottom: 0.625rem;
    padding: 0.9375rem;
    height: 7rem;
}

main .left .photos {
    margin: 0;
}

main .left .blogtab .blog {
    padding: 1rem 0;
    height: 17.1875rem;
}

main .left .blogtab .blog .title {
    padding: 0 2rem;
    border-left: 0.5rem solid #3690CF;
    font-size: 1.5rem;
}

main .left .blogtab .blog .detail {
    font-size: 0.875rem;
    color: #566573;
}

main .right .money {
    border: 0.0625rem solid #ddd;
}

main .right .title {
    background: #f8f8f8;
    line-height: 1.875rem;
    color: #333;
    border-bottom: 1px solid #ddd;
}

main .right .panes span{
    cursor: pointer;
    font-weight: bold;
}

main .right .panes span:last-child{
    border-left: 2px solid #000000;
}

main .right .panes .span-active{
    color: #3690cf;
}

main .right .panes .articles{

}

main .right .panes .articles li{
    list-style: none;
    margin: 0 0 1rem 2rem;
}

main .right .panes .articles li a{
    text-decoration: none;
    color: #444;
}

main .right .panes .articles li a:hover{
    color: #000;
}